{% extends "base.html" %}
{% block content %}

<h2>Admin Dashboard</h2>
<a href="/logout">Logout</a>

<hr>

<form method="post" enctype="multipart/form-data">
  <input name="name" placeholder="Car name" required><br><br>

  <input name="price_usd" placeholder="Price (USD)" required><br><br>

  <textarea name="description" placeholder="Description" required></textarea><br><br>

  <input type="file" name="image" required><br><br>

  <button type="submit">Add Car</button>
</form>

<hr>

<h3>Current Listings</h3>

{% for car in cars %}
  <div>
    <strong>{{ car.name }}</strong><br>
    <img src="{{ url_for('static', filename='uploads/' ~ car.image) }}" width="250"><br>
    ${{ car.price_usd }}<br>
    {{ car.description }}
  </div>
  <hr>
{% endfor %}

{% endblock %}
