{% extends "base.html" %}
{% block content %}

<h2>{{ car.name }}</h2>
<p>{{ car.brand }}</p>

<div class="gallery">

  <img src="{{ url_for('static', filename='uploads/' ~ car.main_image) }}" width="500">

  {% for img in car.images %}
    <img src="{{ url_for('static', filename='uploads/' ~ img.filename) }}" width="200">
  {% endfor %}

</div>

{% if car.video %}
  <video controls width="600">
    <source src="{{ url_for('static', filename='uploads/' ~ car.video.filename) }}">
  </video>
{% endif %}

<h3>${{ car.price_usd }}</h3>
<p>{{ car.miles }} miles</p>

<p>{{ car.description }}</p>

{% endblock %}
