{% extends "base.html" %}
{% block content %}

<h1>Featured Inventory</h1>

{% if cars %}
  <div class="car-grid">
  {% for car in cars %}
    <div class="car-card">

      <img src="{{ url_for('static', filename='uploads/' ~ car.image) }}" width="100%">

      <h3>{{ car.brand }} {{ car.model }} ({{ car.year }})</h3>

      <p class="price">${{ "{:,}".format(car.price_usd) }}</p>

      <p>{{ car.body_type }} • {{ car.mileage }} miles</p>

      <p>{{ car.transmission }} • {{ car.drivetrain }}</p>

    </div>
  {% endfor %}
  </div>
{% else %}
  <p>No featured vehicles yet.</p>
{% endif %}

{% endblock %}
