{% extends "base.html" %}
{% block content %}

<h1>Tomzkid Prestige Motors</h1>
<p>Luxury Automotive Marketplace</p>

<hr>

{% if cars %}
  <div class="car-grid">
  {% for car in cars %}
    <div class="car-card">

      <a href="{{ url_for('car_detail', car_id=car.id) }}">
        <img src="{{ url_for('static', filename='uploads/' ~ car.image) }}" width="300">
      </a>

      <h3>{{ car.name }}</h3>
      <p>{{ car.brand }}</p>

      <p class="price">${{ car.price_usd }}</p>
      <p>{{ car.miles }} miles</p>

      <a class="view-btn" href="{{ url_for('car_detail', car_id=car.id) }}">
        View Details
      </a>

    </div>
  {% endfor %}
  </div>
{% else %}
  <p>No vehicles listed yet.</p>
{% endif %}

{% endblock %}
